//------------------------------------
// Carbonhouse Exercise Styles
//------------------------------------

body {
    background-color: #fff;
    h1 { text-transform: uppercase; }
    font-family: Oswald, Merriweather, Lato;

    .header {
        .social-bar {

        }
        .menu-bar {
            background-color: #101920;
            color: #fff;
        }
    }

    .content {
        .upcoming-events {
            
        }
    }

    .footer {

    }
} 

